<!DOCTYPE html>
{% load static %}
<html lang ="en">

<head>

  {% block tittle %}<tittle>Catalogo</tittle>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=devide-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https_//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="{% static 'C:\Users\Ugalde\Desktop\proyecto_semestral_django\locallibreria\catalog\static\css' %}">

</head>

<body>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-2">

      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a </li>
          <li><a href="{% url 'pieza' %}">Registro de piezas</a </li>


      </ul>
      {% endblock %}

      </div>

      <div class="col-sm-10">
      {% block content %}{% endblock %}
      </div class="container-fluid">

    </div>

  </div>



</body>
</html>
